<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Inviting Developers, Designers, Photographers and Concerned individuals to colaborate and develop softwares to help victims of 2015 Earthquake in Nepal. Please sign up above, we have created a slack channel where we will communicate and colaborate on different softwares and applications, ways we can help.">
    <meta name="keywords" content="Inviting Developers, Designers, Photographers, Concerned Individuals, Colaborate, Doftwares, Victims, Nepal Earthquake 2015">
    <meta property="og:image" content="./images/prayfornepal.png"/>

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= data.page.title || "Pray For Nepal" %></title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <%= stylesheet_link_tag "app", "style" %>
    <%= javascript_include_tag "modernizr" %>
  </head>

  <body>
    <%= yield %>

    <%= javascript_include_tag  "all" %>
  </body>
</html>
